.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  max-width: 90%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.button {
  display: inline-flex;
  justify-content: center;
  gap: 10px;
  width: 100%;
  text-align: center;
}

.input {
  border-color: black;
  border-radius: 8px;
  width: 100% !important;
  max-width: 450px; /* Optional: limit the maximum width */
  padding: 10px; /* Optional: add padding for better usability */
  box-sizing: border-box; /* Ensures padding is included in the width */
}

.para {
  text-align: center;
  margin-top: 10px;
}

.link {
  text-decoration: none;
}
